// ==========================================================================
// Content
// ==========================================================================

header {
    background: $java;
    border-bottom: 1px solid $iron;

    color: $white;
}
