// ==========================================================================
// Customisation
// ==========================================================================

$dark: #333;
$manatee: #97989B;
$iron: #E4E5E7;
$alabaster: #FAFAFA;
$white: #FFF;

$bianca: #FBF5EF;
$william: #386662;
$java: #1BD9C4;
$polar: #D5F6F3;
$foam: #F6FEFD;

:root {
    --dark: #333;
    --manatee: #97989B;
    --iron: #E4E5E7;
    --white: #FFF;
    --william: #386662;
    --bianca: #FBF5EF;
    --java: #1BD9C4;
    --polar: #D5F6F3;
    --foam: #F6FEFD;
}
