{% extends 'style_guide/base.html.twig' %}

{% block link_home %}
  <a href="{{ path('umanit_front_bundle.style_guide', { template: 'index' }) }}" class="btn btn-webkit btn-sm  btn-dark">Accueil guide de style</a>
{% endblock %}

{% block heading_section %}Boutons{% endblock %}

{% block desc_section %}Boutons dans le contenu{% endblock %}



{% block body %}

{% endblock %}
