{% extends 'style_guide/base.html.twig' %}

{% block link_home %}
  <a href="{{ path('umanit_front_bundle.style_guide', { path: 'index' }) }}" class="btn btn-webkit btn-sm  btn-dark">Accueil
  guide de style</a>
{% endblock %}

{% block heading_section %}Typographie{% endblock %}

{% block desc_section %}Tous les textes du site Storistes de France{% endblock %}



{% block body %}

{% endblock %}
